<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    <title>{{ student.first_name }} {{ student.last_name }} - Student Detail</title>

</head>
<body>


<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'home' %}">LeStudy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'library' %}">LeStudy-Lib <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'game' %}">LePlay</a>
      </li>
    </ul>
  </div>
</nav>



<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ student.first_name }} {{ student.last_name }}</h2>
            <p class="card-text"><strong>Major:</strong> {{ student.major_name }}</p>
            <p class="card-text"><strong>University:</strong> {{ student.university_name }}</p>
            <p class="card-text"><strong>Bio:</strong> {{ student.bio }}</p>

            <!-- Additional details -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <p class="card-text"><strong>University Location:</strong> {{ student.university_location }}</p>
                    <!-- Add more details as needed -->
                </div>
                <div class="col-md-6">
                    <p class="card-text"><strong>Phone:</strong> {{ student.phone_number }}</p>
                    <!-- Add more details as needed -->
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- Bootstrap JS and Popper.js (optional) links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
